* {
  background-color: bisque;
}

h1 {
  color: blue;
}

ul.facts {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

img {
  width: 70px;
  height: 70px;
}

form {
  display: flex;
  flex-direction: column;
}
